<app-navbar></app-navbar>
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0 text-dark" style="font-family:sans-serif;">Dashboard</h4>
                </div>
                <hr>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <button class="btn btn-info rounded-0">Add Record</button>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <hr/>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-11">
                    <div class="card rounded-0">
                        <div class="card-header">
                            Name:{{companyDetails.name}}
                        </div>
                        <div class="card-body">

                            <p class="card-text">{{companyDetails.description}}</p>
                            <a (click)="editModal(edittemplate)" class="btn btn-info rounded-0 btn-sm">
                                <i class="fa fa-edit" aria-hidden="true">edit</i>
                            </a>

                            <span *ngIf="confirmDelete">
                            <span>Are you sure you want to delete?</span><br>
                            <button class="btn btn-danger btn-sm rounded-0" (click)="deleteCompany()">Yes</button>
                            <button class=" btn btn-primary btn-sm rounded-0" (click)="confirmDelete=false">No</button>
                            </span>
                            <a class=" btn btn-danger rounded-0 btn-sm" style="margin-left:3px;" *ngIf="!confirmDelete" (click)="confirmDelete=true">
                                <span>
                                    <i class="fa fa-trash" aria-hidden="true">remove</i>
                                </span>
                            </a>
                            <a [routerLink]="['/company']" routerLinkActive="router-link-active" class="btn btn-primary rounded-0" style="float:right ">Go back</a>
                        </div>
                        <ul class="list-group list-group-flush ">
                            <li class="list-group-item ">
                                <h5 class="card-title ">Phone number </h5><span style="float:right;">{{companyDetails.contact_no}}</span>
                            </li>
                            <li class="list-group-item ">
                                <h5 class="card-title ">License number </h5><span style="float:right;">{{companyDetails.license_no}} </span>
                            </li>
                            <li class="list-group-item ">
                                <h5 class="card-title ">Address </h5><span style="float:right; ">{{companyDetails.address}} </span>
                            </li>
                            <li class="list-group-item ">
                                <h5 class="card-title ">Email Address</h5><span style="float:right; ">{{companyDetails.email}} </span>
                            </li>
                            <li class="list-group-item ">
                                <h5 class="card-title ">Bank Name:</h5><span style="float:right; ">{{companyDetails.bank_id.bank_name}} </span>
                            </li>
                            <li class="list-group-item ">
                                <h5 class="card-title ">Bank AccNo: </h5><span style="float:right; ">{{companyDetails.bank_id.bank_account_no}} </span>
                            </li>

                        </ul>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

</div>
<ng-template #edittemplate>
    <div class="modal-header ">
        <h4 class="modal-title pull-left ">Edit Company</h4>
        <button type="button " class="close pull-right " aria-label="Close" (click)="modalRef.hide() ">
            <span aria-hidden="true ">&times;</span>
    </button>
    </div>
    <div class="modal-body ">
        <form [formGroup]="formModel" autocomplete="off" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input formControlName="name" class="form-control" name="name" [(ngModel)]="companyDetails.name">
                <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                    <div *ngIf="f.name.errors.required">name is required.</div>
                </div>
            </div>
            <div class="form-group">
                <input formControlName="license_no" class="form-control" placeholder="License Number" [(ngModel)]="companyDetails.license_no">
                <div *ngIf="f.license_no.touched && f.license_no.invalid" class="alert alert-danger">
                    <div *ngIf="f.license_no.errors.required">license_no is required.</div>
                </div>
            </div>
            <div class="form-group">
                <input formControlName="contact_no" class="form-control" type="number" placeholder="Phone number" [(ngModel)]="companyDetails.contact_no">
                <div *ngIf="f.contact_no.touched && f.contact_no.invalid " class="alert alert-danger">
                    <div *ngIf="f.contact_no.errors.required">contact_no is required.</div>
                </div>
            </div>
            <div class="form-group">
                <input formControlName="address" class="form-control" placeholder="Address" [(ngModel)]="companyDetails.address">
                <div *ngIf="f.address.touched && f.address.invalid" class="alert alert-danger">
                    <div *ngIf="f.address.errors.required ">Address is required.</div>
                </div>
            </div>
            <div class="form-group">
                <input formControlName="email" class="form-control" placeholder="Email address" [(ngModel)]="companyDetails.email">
                <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                    <div *ngIf="f.email.errors.required">Email address is required.</div>
                </div>
            </div>
            <div class="form-group">
                <select class="form-control" formControlName="bank_id">
                    <option value="" selected>--required--</option>
                    <option selected value="{{companyDetails.bank_id.id}}" [(ngModel)]="companyDetails.bank_id">{{companyDetails.bank_id.bank_name}}</option>
                </select>
                <!-- <input formcontrolNam="bank_id" class="form-control" [(ngModel)]="companyDetails.bank_id.bank_name"> -->
            </div>
            <div class="form-group ">
                <textarea class="form-control" formControlName="description" rows="3 " placeholder="Description" [(ngModel)]="companyDetails.description"></textarea>
                <div *ngIf="f.description.touched && f.description.invalid" class="alert alert-danger">
                    <div *ngIf="f.description.errors.required">Description required.</div>
                </div>
            </div>
            <div>
                <button class="btn btn-primary rounded-0 " style="float:right;" [disabled]="!formModel.valid">Update</button>
            </div>

        </form>
    </div>
</ng-template>