<app-navbar></app-navbar>
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0 text-dark" style="font-family:sans-serif;">Dashboard</h4>
                </div>
                <hr>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <button class="btn btn-info rounded-0">Add Record</button>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <hr/>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-11">
                    <div class="card rounded-0">
                        <div class="card-header">
                            Name:{{bankDetails.bank_name}}
                        </div>
                        <div class="card-body">


                            <a (click)="editModal(edittemplate)" class="btn btn-info rounded-0 btn-sm">
                                <i class="fa fa-edit" aria-hidden="true">edit</i>
                            </a>

                            <a class=" btn btn-danger rounded-0 btn-sm" style="margin-left:3px;" (click)="deleteBank()">
                                <span>
                                    <i class="fa fa-trash" aria-hidden="true">remove</i>
                                </span>
                            </a>
                            <a [routerLink]="['/company-bank']" routerLinkActive="router-link-active" class="btn btn-primary rounded-0" style="float:right ">Go back</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item ">
                                <h5 class="card-title ">Bank Account no: </h5><span style="float:right;">{{bankDetails.bank_account_no}}</span>
                            </li>
                            <li class="list-group-item ">
                                <h5 class="card-title">Bank Name: </h5><span style="float:right;">{{bankDetails.bank_name}} </span>
                            </li>


                        </ul>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

</div>
<ng-template #edittemplate>
    <div class="modal-header ">
        <h4 class="modal-title pull-left ">Edit Bank</h4>
        <button type="button " class="close pull-right " aria-label="Close" (click)="modalRef.hide() ">
            <span aria-hidden="true ">&times;</span>
    </button>
    </div>
    <div class="modal-body ">
        <form [formGroup]="formModel" autocomplete="off" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input formControlName="bank_account_no" class="form-control" name="bank_account_no" [(ngModel)]="bankDetails.bank_account_no" type="number">
                <div *ngIf="f.bank_account_no.touched && f.bank_account_no.invalid" class="alert alert-danger">
                    <div *ngIf="f.bank_account_no.errors.required">required.</div>
                </div>
            </div>
            <div class="form-group">
                <input formControlName="bank_name" class="form-control" placeholder="bank_name" [(ngModel)]="bankDetails.bank_name">
                <div *ngIf="f.bank_name.touched && f.bank_name.invalid" class="alert alert-danger">
                    <div *ngIf="f.bank_name.errors.required">required.</div>
                </div>
            </div>



            <div>
                <button class="btn btn-primary rounded-0" style="float:right;" [disabled]="!formModel.valid">Update</button>
            </div>

        </form>
    </div>
</ng-template>